@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0c;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* Indikator bahwa globals.css terpanggil */
  border-top: 4px solid #8b5cf6; 
}
